<div class="card" >
        <div class="card-header"></div>
        <div class="card-body">
                <div>     <a routerLink="/carnet"  ><img src="../../assets/icons/profile.png" alt=""></a>
                    <h6>Jonh Doe</h6>
                    <h6>john.doe@example.com</h6>
                    <h6>0123456789</h6>
                    </div>

                    <img src="../../assets/icons/skype.png" alt="">
                    <img src="../../assets/icons/phone.png" alt="">
                    <img src="../../assets/icons/mail.png" alt="">
       
                </div>
</div>
