
<p class="first">My Adress Book</p>
<div classe="all">
    <div class="card" >
            <div class="card-header"></div>
            <div class="card-body">
                
<div classe="recherche">

        <img src="../../assets/icons/loupe.png" alt="">
        <input type="text" id="myInput" keyup="myFunction()" placeholder="Search for names.." title="Type in a name">
  
    </div>
<div>
<h6>A B C D E F G H I J K L M N O P Q R S T U V Q R S</h6>
</div>

<div class="row">

<div *ngFor="let use of table" class="col-sm-4">
<a routerLink="/carnet/{{id}}" ><img src="../../assets/icons/profile.png" alt=""></a>

<h6>{{use.name}}</h6>
<h6>{{use.email}}</h6>
<h6>{{use.phone}}</h6>
</div>




            </div>

    </div>


</div>